In [1]:
# Setup
import numpy as np
import pandas as pd
import pyarrow as pa
import datetime

import pykx as kx
kx.q.system.console_size = [15, 100]

In [2]:
tab_BTC = kx.q.read.csv('data/BTCUSDT.csv')

# Create a new column in tab_BTC listing the date for each row
tab_BTC['date'] = tab_BTC['timestamp'].date

# Section 4: Querying Tables

## qSQL

### select()

In [3]:
# Find all dates where the closing price is greater than 73000 
tab_BTC.select(where=kx.Column('close') >73000, by=kx.Column('date'))

pykx.KeyedTable(pykx.q('
date      | timestamp                     open     high     low      close    volume   close_time..
----------| -------------------------------------------------------------------------------------..
2024.03.13| 2024.03.13D23:59:00.000000000 73039.87 73072.41 73039.86 73072.41 20.26091 2024.03.13..
2024.03.14| 2024.03.14D12:11:00.000000000 73011    73011.01 73011    73011.01 12.11509 2024.03.14..
'))

In [4]:
# What is the average closing price
tab_BTC.select(columns=kx.Column('close').avg().name('average_Close'))

pykx.Table(pykx.q('
average_Close
-------------
23242.17
'))

##### Exercise 12
- Return the total number of transactions where volume is zero

In [5]:
tab_BTC.select(columns=kx.Column('i').count().name('transactions'), where=kx.Column('volume') == 0.0)

pykx.Table(pykx.q('
transactions
------------
23863
'))

### exec()

In [6]:
# Select the last item of the table
tab_BTC.exec()

pykx.Dictionary(pykx.q('
timestamp                   | 2024.06.03D03:00:00.000000000
open                        | 68416.09e
high                        | 68451.07e
low                         | 68412e
close                       | 68431.45e
volume                      | 18.64174
close_time                  | 2024.06.03D03:00:59.999000000
quote_asset_volume          | 1275749f
number_of_trades            | 974h
taker_buy_base_asset_volume | 8.02757
taker_buy_quote_asset_volume| 549325.4
ignore                      | 0b
date                        | 2024.06.03
'))

In [7]:
tab_BTC.exec(kx.Column('close').last(), by = kx.Column('date'), where = kx.Column('ignore') == False)

pykx.Dictionary(pykx.q('
2017.08.17| 4285.08
2017.08.18| 4108.37
2017.08.19| 4139.98
2017.08.20| 4086.29
2017.08.21| 4016
2017.08.22| 4040
2017.08.23| 4114.01
2017.08.24| 4316.01
2017.08.25| 4280.68
2017.08.26| 4337.44
2017.08.27| 4310.01
2017.08.28| 4386.69
..
'))

### update()

In [8]:
# Update Ignore to true for rows where closing price is less than 5000
tab_BTC.update({'ignore':True}, where=kx.Column('close') < 5000.0)

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
2017.08.17D04:05:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:05:59.999000..
2017.08.17D04:06:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:06:59.999000..
2017.08.17D04:07:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:07:59.999000..
2017.08.17D04:08:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:08:59.999000..
2017.08.17D04:09:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:09:59.999000..
..
'))

### delete()

In [9]:
tab_BTC['test_column'] = "TEST!"
tab_BTC.head()

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
'))

In [10]:
# Delete a column from the table where the deletion is persisted (inplace=True)
tab_BTC.delete(kx.Column('test_column'), inplace=True)
tab_BTC.head()

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
'))

In [11]:
tab_BTC.delete(where=kx.Column('close') < 5000)

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.10.12D07:58:00.000000000 4988    5009.93 4988    5009.93 8.58558  2017.10.12D07:58:59.999000..
2017.10.12D07:59:00.000000000 5010.2  5010.2  5009    5010.2  1.532306 2017.10.12D07:59:59.999000..
2017.10.12D08:00:00.000000000 5010.2  5031.35 5010.2  5031.35 3.037492 2017.10.12D08:00:59.999000..
2017.10.12D08:01:00.000000000 5040    5050    5031.57 5031.57 0.691529 2017.10.12D08:01:59.999000..
2017.10.12D08:02:00.000000000 5050    5079    5050    5079    2.475541 2017.10.12D08:02:59.999000..
2017.10.12D08:03:00.000000000 5079    5099    5079    5099    0.430276 2017.10.12D08:03:59.999000..
2017.10.12D08:04:00.000000000 5099    5142.34 5099    5110.29 5.157748 2017.10.12D08:04:59.999000..
2017.10.12D08:05:00.000000000 5110.29 5110.29 5080.01 5105.26 4.525278 2017.10.12D08:05:59.999000..
2017.10.12D08:06:00.000000000 5080    5105.26 5064.77 5080    2.73163  2017.10.12D08:06:59.999000..
2017.10.12D08:07:00.000000000 5075.18 5104.2  5040    5041    6.688185 2017.10.12D08:07:59.999000..
..
'))

## Standard SQL Interface

In [12]:
kx.q.sql('select * from $1', tab_BTC)

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_time                ..
-------------------------------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.08.17D04:00:59.999000..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:01:59.999000..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.08.17D04:02:59.999000..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.08.17D04:03:59.999000..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.08.17D04:04:59.999000..
2017.08.17D04:05:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:05:59.999000..
2017.08.17D04:06:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:06:59.999000..
2017.08.17D04:07:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:07:59.999000..
2017.08.17D04:08:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:08:59.999000..
2017.08.17D04:09:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.08.17D04:09:59.999000..
..
'))

##### Exercise 13
- Using the Standard SQL Interface, return the average number of trades by date

In [13]:
kx.q.sql('select date, avg(number_of_trades) from $1 group by date', tab_BTC)

pykx.Table(pykx.q('
date       number_of_trades
---------------------------
2017.08.17 2.855833
2017.08.18 3.634028
2017.08.19 1.495139
2017.08.20 1.611806
2017.08.21 2.758333
2017.08.22 4.509722
2017.08.23 5.992361
2017.08.24 4.338194
2017.08.25 4.551389
2017.08.26 1.569444
..
'))

## IPC

In [14]:
import subprocess
import time

try:
    with kx.PyKXReimport():
        proc = subprocess.Popen(
            ('q', '-p', '5000')
        )
    time.sleep(2)
except:
    raise kx.QError('Unable to create q process on port 5000')

In [15]:
conn = kx.SyncQConnection(port = 5000)

In [16]:
conn('tab:([]col1:100?`a`b`c;col2:100?1f;col3:100?0Ng)')
conn('select from tab where col1=`a')

pykx.Table(pykx.q('
col1 col2       col3
----------------------------------------------------
a    0.01974141 ddb87915-b672-2c32-a6cf-296061671e9d
a    0.5611439  580d8c87-e557-0db1-3a19-cb3a44d623b1
a    0.8685452  2d948578-e9d6-79a2-8207-9df7a71f0b3b
a    0.3460797  cddeceef-9ee9-3847-9172-3e3d7ab39b26
a    0.5046331  1c22a468-9492-2173-9e4f-9003a23d02b7
a    0.765905   5e9cd21b-88c5-bbf5-7215-6409e115a2a4
a    0.8794685  3462beab-42ee-ccad-989b-8d69f070dffc
a    0.02487862 bc150163-c551-0eba-8871-9767f5c0e3d5
a    0.3664924  dd6b4a2b-c046-e464-a0b9-efb96ed5f0eb
a    0.9240405  5bf9522e-0e09-baa4-ddec-6b4a8c75cf12
..
'))

In [17]:
conn.qsql.select('tab', where=(kx.Column('col1') == 'a') & (kx.Column('col2') < 0.3))

pykx.Table(pykx.q('
col1 col2       col3
----------------------------------------------------
a    0.01974141 ddb87915-b672-2c32-a6cf-296061671e9d
a    0.02487862 bc150163-c551-0eba-8871-9767f5c0e3d5
a    0.2073435  ee853957-d502-d30d-5945-bf8c97022332
a    0.2188574  d9a3e171-b1cf-0271-507a-0fba0b52e6ff
a    0.1451855  ea4d0269-375c-d73b-96f0-6bb6334ca423
a    0.1497004  1cce6bdd-e34b-ba4f-8c01-31d098d81221
a    0.166486   6417d4b3-3fc6-e35a-1c34-8c5c3327b1e8
a    0.2643322  f294c3cb-a6da-e15d-c8e0-3a848d2abf10
a    0.07841939 020715aa-8ffa-e1d3-9c68-3ad7919d4f5e
a    0.08077328 65b2f5b0-918c-b87b-4fc4-4aa24b192476
'))

In [18]:
conn('\l s.k_')
conn.sql('SELECT * FROM tab where col2>=0.5')

pykx.Table(pykx.q('
col1 col2      col3
---------------------------------------------------
a    0.5611439 580d8c87-e557-0db1-3a19-cb3a44d623b1
a    0.8685452 2d948578-e9d6-79a2-8207-9df7a71f0b3b
b    0.7716917 52cb20d9-f12c-9963-2829-3c64d8d8cb14
a    0.5046331 1c22a468-9492-2173-9e4f-9003a23d02b7
c    0.6014692 7ea4d431-4dec-3017-3d13-cc9ef7f1c0ee
c    0.5000071 782c5346-f5f7-b90e-c686-8d41fa85233b
c    0.8392881 245f5516-0cb8-391a-e1e5-fadddc8e54ba
b    0.5938637 e30bab29-2df0-3fb0-535f-58d1e7bd83c0
a    0.765905  5e9cd21b-88c5-bbf5-7215-6409e115a2a4
a    0.8794685 3462beab-42ee-ccad-989b-8d69f070dffc
..
'))

In [19]:
proc.kill()